/AccountController.class
/AdminFunctionalityController.class
/AdminUI.class
/DatabaseController.class
/LogonController.class
/SearchController.class
/UniversityController.class
/UserFunctionalityController.class
/UserUI.class
/SearchOthersSavedSchoolsTest.class
/TestDeleteUser.class
